# Python
__pycache__/
*.pyc
.env
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Other
cloudflared.msi
currency_cache.json
setup_admin.py

# Django / Project
media/
staticfiles/
*.db-journal
*.db-wal
*.db-shm